body {
    margin: 0;
    box-sizing:content-box
}

.product-page {
    display: flex;
    flex-direction: column;
    height: 150vh;
}

.product-page .header-container {
    flex-basis: 3%;
}

.slider-container {
    flex-basis: 80%;
}

.title-price-container {
    padding: 1rem;
    flex-basis: 5%;
}

.details-container {
    padding: 1rem;
    flex-basis: 10%;
}

.footer {
    display: flex;
    align-items: center;
    position: sticky;
    min-height: 7.5vh;
    border-top: 1px solid #CCC;
    background-color: white;
    bottom: 0px;
}

.footer-content-container  {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-content-container .primary, .footer-content-container .secondary {
    display: flex;
    flex-basis: 90%;
    justify-content: center;
}

.size-row {
    flex-basis: 10%;
    display: flex;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}


.size-container {
    padding: 1rem;
    margin-top: 1rem;
}